In [1]:
# For data handling
import numpy as np
import pandas as pd

# For visvalization
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# For creating widgets
from ipywidgets import widgets, interact

# For hiding warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=px.data.tips()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
def scatter_plot(day):
    fig=px.scatter(df[df['day']==day], x='total_bill', y='tip', color='sex', title=f"Tips & Total bill on {day}")
    fig.show()

In [4]:
day_list=list(df['day'].unique())
interact(scatter_plot, day=day_list);

interactive(children=(Dropdown(description='day', options=('Sun', 'Sat', 'Thur', 'Fri'), value='Sun'), Output(â€¦